#memoryWrapper #memory div.cardWrapper div.card div.cardFace img {
	margin: 0;
}
#memoryWrapper #memory div.cardWrapper,
#memoryWrapper #memory div.card,
#memoryWrapper #memory div.cardFace.front,
#memoryWrapper #memory div.cardFace.back {
	overflow: hidden;
}
#memoryWrapper #register {
	display: none;
	text-align: center;
}

#memoryWrapper #memory {
	display: none;
	width: 100%;
	background-size: cover;
	text-align: center;
	overflow: hidden;
}
#memoryWrapper .cardWrapper {
	width: 100%;
	position: relative;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}
#memoryWrapper .cardWrapper div.ref {
	position: absolute;
	bottom: 5px;
	right: 15px;
	font-size: 8px;
}
@media only screen and (max-width: 800px) {
	#memoryWrapper .cardWrapper div.ref {
		bottom: 5px;
		right: 10px;
		font-size: 6px;
	}
}
@media only screen and (max-width: 410px) {
	#memoryWrapper .cardWrapper div.ref {
		bottom: 3px;
		right: 7px;
		font-size: 4px;
	}
}

#memoryWrapper .cardFace {
	position: absolute;
	width: 100%;
	overflow: hidden;
}

#memoryWrapper .front {
	background-color: #fff; 
}

#memoryWrapper .back {
	background-color: #fff; 
}

#memoryWrapper div.row {
	margin: 0 0 0 0;
}
#memoryWrapper div.row div {
	padding: 0;
}

#memoryWrapper a.btn-register {
	position: relative;
	bottom: 100px;
}

#memoryWrapper div.container, div.container-fluid {
	margin: 0;
	padding: 0;
}